name: CI
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup Node
        uses: actions/setup-node@v5
        with:
          node-version: 22.x

      - name: Use cached node_modules
        uses: actions/cache@v5
        with:
          path: node_modules
          key: nodeModules-v3-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            nodeModules-v3-

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Build
        run: npm i -g serve & yarn build

      - name: Run E2E Tests
        uses: cypress-io/github-action@v2
        with:
          record: false
          env: 'HOST=http://localhost:3000'
          start: serve -s build
          wait-on: 'http://localhost:3000'
